@font-face {
  font-family: Roboto;
  src: local(Roboto), url("Roboto-Light.af01702d.ttf") format("truetype");
}

@font-face {
  font-family: RobotoBlack;
  src: local(RobotoBlack), url("Roboto-Black.103194fc.ttf") format("truetype");
}

body h2, body label, body input, body p, body th {
  text-align: center;
  font-family: Roboto, sans-serif;
}

body .container-components {
  text-align: center;
  margin-top: 25vh;
}

body .container-components h2 {
  color: #707070;
  font-size: 2rem;
  font-weight: bolder;
}

body .container-components label {
  color: #707070;
}

body .container-components .container-navigation {
  justify-content: center;
  margin-top: 20px;
  display: flex;
}

body .container-components .container-navigation input {
  color: #fff;
  width: 12rem;
  height: 3rem;
  -webkit-appearance: none;
  background-color: #00f;
  border: 1px solid #707070;
  border-radius: 25px;
  font-size: 1.5rem;
  font-weight: bolder;
}

body .container-components .container-navigation input:hover {
  cursor: pointer;
}

body .container-components .container-navigation .nextInput {
  background-color: #a0a0a0;
}

body .container-components .container-navigation .previousInput {
  background-color: #c5c5c5;
}

.container-png {
  padding: 100px;
  position: absolute;
  top: -2000px;
  left: -20000px;
  transform: rotate(270deg);
}

.container-png h3 {
  color: #fff;
  font-family: RobotoBlack, sans-serif;
  font-size: 150px;
  font-weight: bolder;
}

.container-input-text input {
  text-align: center;
  height: 3.85rem;
  width: 33rem;
  color: #707070;
  -webkit-appearance: none;
  border: 1px solid #707070;
  border-radius: 30px;
  font-size: 2rem;
  font-weight: bolder;
}

@media screen and (max-width: 600px) {
  .container-input-text input {
    width: 90%;
  }
}

.colors-picker {
  visibility: hidden;
  border: none;
  position: relative;
}

.colors-picker:after {
  visibility: visible;
  content: "+";
  text-align: center;
  width: 100%;
  height: 100%;
  font-size: 5rem;
  font-weight: bold;
  position: absolute;
  top: -15px;
  left: 0;
}

.container-checkboxes div input {
  width: 2.5rem;
  height: 2.5rem;
  vertical-align: bottom;
  position: relative;
}

.container-checkboxes div input:hover {
  cursor: pointer;
}

.container-checkboxes div label {
  white-space: nowrap;
  width: 49rem;
  text-align: left;
  padding: 10px;
  font-size: 1.25rem;
  font-weight: bolder;
  display: inline-block;
}

.container-dominant-color .colors {
  flex-flow: wrap;
  justify-content: center;
  display: flex;
}

.container-dominant-color .colors input {
  width: 4rem;
  height: 4rem;
  -webkit-appearance: none;
  border: none;
  border-radius: 50%;
  margin-right: 2rem;
}

.container-dominant-color .colors input:hover {
  cursor: pointer;
}

.container-iframe {
  flex-flow: wrap;
  justify-content: center;
  padding-left: 10%;
  padding-right: 10%;
  display: flex;
}

.container-iframe div {
  margin: 2rem;
}

.container-iframe div iframe {
  width: 300px;
  height: 20rem;
}

.container-how-items {
  justify-content: center;
  align-items: center;
  display: flex;
}

.container-how-items select {
  height: 20px;
}

.container-total-cost {
  padding-top: 5%;
}

.container-total-cost table {
  margin: auto;
}

.container-total-cost table img {
  width: 50%;
  height: 50%;
}

/*# sourceMappingURL=index.08963856.css.map */
