.container-png {
    position: absolute;
    left: -20000px;
    top: -2000px;
    transform: rotate(270deg);
    padding: 100px;
    
    h3 {
        font-size: 150px;
        font-family: $font-2;
        font-weight: bolder;
    }
}