.container-dominant-color {
    
    input {
        width: 4rem;
        height: 4rem;
        border-radius: 50%;
        border: 0px;
        margin-right: 2rem;
        &:hover {
            cursor: pointer;
        }
    }
}