.container-iframe {
    padding-left: 10%;
    padding-right: 10%;
    display: flex;
    justify-content: center;
    
    div {
        margin: 2rem;

        iframe {
            width: 100%;
            height: 20rem;
        }
    }   
}