.container-checkboxes {
    padding-left: 20px;
    div {
        display: flex;
        justify-content: flex-start;
        input {
            width: 1.5rem;
            height: 1.5rem;
            vertical-align: bottom;     
            position: relative;

            &:hover {
                cursor: pointer;
            }
        }

        label {
            font-size: 0.95rem;
            font-weight: bolder;
            display: inline-block;
            padding: 10px;
            white-space: nowrap; 
            width: 1rem;
            text-align: left;
        }
    }
}