.container-svg {
    
    svg {
        position: absolute;
        left: 33%;
        right: 33%;
    }
}

.container-square {
    border: 10px solid rgb(33, 97, 123);
    background-color: rgb(53, 53, 138);
}