body {

    h2, label, input, p, th {
        font-family: $font-1;
    }

    .container-components {
        text-align: center;

        h2 {
            color: $color-1;
            font-weight: 600;
            font-size: 4rem;
        }
        
        label {
            color: $color-1;
        }

        .container-navigation {
            margin-top: 20px;
            display: flex;
            justify-content: center;
            
            input {
                background-color: $color-3;
                color: $color-2;
                width: 10rem;
                height: 1.4rem;
                border-radius: 12px;
                border: 1px solid $color-1;
                font-weight: bolder;
                font-size: 1rem;

                &:hover {
                    cursor: pointer;
                }
            }
            
            .nextInput {
                background-color: $color-3;
            }
            .previousInput {
                background-color: $color-4;
            }
        }
    }
}