body {
    -webkit-appearance: none;
    h2, label, input, p, th {
        font-family: $font-1;
        text-align: center;
    }

    .container-components {
        margin-top: 25vh;
        text-align: center;
        
        h2 {
            color: $color-1;
            font-weight: bolder;
            font-size: 2rem;
        }
        
        label {
            color: $color-1;
        }

        .container-navigation {
            margin-top: 20px;
            display: flex;
            justify-content: center;
            
            input {
                background-color: $color-3;
                color: $color-2;
                width: 12rem;
                height: 3rem;
                border-radius: 25;
                border: 1px solid $color-1;
                font-weight: bolder;
                font-size: 1.5rem;
                background-color: blue;
                -webkit-appearance: none;
                &:hover {
                    cursor: pointer;
                }
            }
            
            .nextInput {
                background-color: $color-3;
            }
            .previousInput {
                background-color: $color-4;
            }
        }
    }
}