body {
    
    -webkit-appearance: none;
    h2, label, input, p, th {
        font-family: $font-1;
        text-align: center;
    }

    .container-components {
        margin-top: 25vh;
        text-align: center;
        
        h2 {
            color: $color-1;
            font-weight: bolder;
            font-size: 2rem;
        }
        
        label {
            color: $color-1;
        }

        .container-navigation {
            margin-top: 20px;
            display: flex;
            justify-content: center;
            
            input {
                background-color: $color-3;
                color: $color-2;
                width: 14rem;
                height: 3rem;
                border-radius: 25;
                font-weight: bolder;
                font-size: 1.5rem;
                background-color: blue;
                padding: 0.5rem;
                -webkit-appearance: none;
                &:hover {
                    cursor: pointer;
                }
            }
            
            .nextInput {
                background-color: $color-3;
                border: 1px solid $color-3;
                margin-left: 1.5rem;
            }
            .previousInput {
                background-color: $color-4;
                border: 1px solid $color-4;
                padding-right: 10px;
                margin-right: 1.5rem;
            }
        }
    }
}